LP_XMLConverter21/Documentation/LP_XML.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********** Data types ************************************************* -->

<!ENTITY % Bool "#PCDATA">				<!-- "yes" or "no" -->
<!ENTITY % Double "#PCDATA">			<!-- floating point number value -->
<!ENTITY % String "#PCDATA">
<!ENTITY % SLong "#PCDATA">				<!-- signed long integer -->
<!ENTITY % ULong "#PCDATA">				<!-- unsigned long integer -->
<!ENTITY % LPUnID "#PCDATA">			<!-- main guid - ref. guid -->

<!ENTITY % GDLScript "#PCDATA">			<!-- a string containing a valid GDL script -->
<!ENTITY % BinaryData "#PCDATA">		<!-- a string of hexadecimal characters -->
<!ENTITY % DateTime "#PCDATA">			<!-- CCYY-MM-DDThh:mm:ss.000 as the defined standard XML data type -->
<!ENTITY % UnivParamValue "#PCDATA">	<!-- can be double, int or string -->

<!ENTITY % BoolAttr "(yes|no)">			<!-- "yes" or "no" -->
<!ENTITY % StringAttr "CDATA">
<!ENTITY % SLongAttr "CDATA">			<!-- signed long integer -->
<!ENTITY % ULongAttr "CDATA">			<!-- unsigned long integer -->
<!ENTITY % PlatformStrAttr "(Mac|Win)">	<!-- "Mac" or "Win" -->
<!ENTITY % MimeTypeAttr "CDATA">		<!-- the actual MIME type -->
<!ENTITY % OrderingAttr "(Natural|DrawQueue|SortQueue)">		<!-- "Natural" or "DrawQueue" or "SortQueue" -->
<!ENTITY % PathAttr "CDATA">			<!-- a path string -->
<!ENTITY % MigrationAttr "(Normal|IncompatiblyChanged|Obsolete)">			<!-- "yes" or "no" -->

<!ELEMENT UNID (%LPUnID;)>


<!-- ********** Flag bit elements ****************************************** -->

<!ELEMENT WDBit_3DFrame EMPTY>
<!ELEMENT WDBit_2DSideFr EMPTY>
<!ELEMENT WDBit_2DLengFr EMPTY>
<!ELEMENT WDBit_OrientCustom EMPTY>
<!ELEMENT WDBit_OrientReverse EMPTY>
<!ELEMENT WDBit_ThickIsParam EMPTY>
<!ELEMENT WDBit_LFramIsParam EMPTY>
<!ELEMENT WDBit_RFramIsParam EMPTY>
<!ELEMENT WDBit_TFramIsParam EMPTY>
<!ELEMENT WDBit_BFramIsParam EMPTY>
<!ELEMENT WDBit_InsetIsParam EMPTY>

<!ELEMENT STBit_UIDefault EMPTY>
<!ELEMENT STBit_FixSize EMPTY>
<!ELEMENT STBit_SizeTo2D EMPTY>

<!ELEMENT ParFlg_Child EMPTY>
<!ELEMENT ParFlg_BoldName EMPTY>
<!ELEMENT ParFlg_Fixed EMPTY>
<!ELEMENT ParFlg_Unique EMPTY>
<!ELEMENT ParFlg_SHidden EMPTY>
<!ELEMENT ParFlg_Open EMPTY>
<!ELEMENT ParFlg_Disabled EMPTY>
<!ELEMENT ParFlg_Hidden EMPTY>


<!-- ********** Property descriptiors ******************************* -->

<!ELEMENT Code (%String;)>
<!ELEMENT Keycode (%String;)>
<!ELEMENT DBSetname (%String;)>
<!ELEMENT Reference (%Bool;)>


<!-- ********** Script types / Main sections ******************************* -->

<!ENTITY % LPSectionBaseAttrs "
	SubIdent %ULongAttr; #REQUIRED
	SectVersion %ULongAttr; #REQUIRED
	SectionFlags %ULongAttr; #REQUIRED">

<!ENTITY % LPBinSectionAttrs "
	platform %PlatformStrAttr; #REQUIRED
	length_in_bytes %SLongAttr; #REQUIRED">
<!ENTITY % LPBinSectionAttrsOptional "
	platform %PlatformStrAttr;  #IMPLIED
	length_in_bytes %SLongAttr;  #IMPLIED">

<!ELEMENT Symbol (SubKind | Drawing | Script_3D | Script_2D | Script_1D | Script_VL | ParamSection | Picture | Ancestry | CalledMacros | Script_UI | Comment | Script_PR | Binary3D | InfoPict | GDLPict | UnknownSection | CompDef | DescDef)*>
<!ATTLIST Symbol
	UNID CDATA #REQUIRED
	Owner %ULongAttr; #REQUIRED
	IsPlaceable %BoolAttr; #REQUIRED
	IsArchivable %BoolAttr; #REQUIRED
	MigrationValue %MigrationAttr; #IMPLIED
	Version %ULongAttr; #FIXED "22"
	Signature %ULongAttr; #IMPLIED
>

<!ELEMENT CompDef (CompRec*)>
<!ATTLIST CompDef
	%LPSectionBaseAttrs;
	NumComps %ULongAttr; #REQUIRED
>
	<!ELEMENT CompRec (Code, Name, Quantity, Measure, Keycode, Unitcode, DBSetname, Prop_with, Reference, Prop_expr)>
		<!ELEMENT Quantity (%Double;)>
		<!ELEMENT Measure (%String;)>
		<!ELEMENT Unitcode (%String;)>
		<!ELEMENT Prop_with (%SLong;)>
		<!ELEMENT Prop_expr (%String;)>

<!ELEMENT DescDef (DescRec*)>
<!ATTLIST DescDef
	%LPSectionBaseAttrs;
	NumDescs %ULongAttr; #REQUIRED
>
	<!ELEMENT DescRec (Code, Keycode, DBSetname, Reference, Name)>

<!ELEMENT UnknownSection (%BinaryData;)>
<!ATTLIST UnknownSection
	%LPSectionBaseAttrs;
	%LPBinSectionAttrs;
	SectionType %ULongAttr; #REQUIRED
>

<!ELEMENT ParamSection (ParamSectHeader, Parameters, WDFrameExpression?, WDOrientation?)>
<!ATTLIST ParamSection
	%LPSectionBaseAttrs;
>

<!ELEMENT Script_1D (%GDLScript;)>
<!ATTLIST Script_1D
	%LPSectionBaseAttrs;
>

<!ELEMENT Script_2D (%GDLScript;)>
<!ATTLIST Script_2D
	%LPSectionBaseAttrs;
>

<!ELEMENT Script_3D (%GDLScript;)>
<!ATTLIST Script_3D
	%LPSectionBaseAttrs;
>

<!ELEMENT Script_PR (%GDLScript;)>
<!ATTLIST Script_PR
	%LPSectionBaseAttrs;
>

<!ELEMENT Script_UI (%GDLScript;)>
<!ATTLIST Script_UI
	%LPSectionBaseAttrs;
>

<!ELEMENT Script_VL (%GDLScript;)>
<!ATTLIST Script_VL
	%LPSectionBaseAttrs;
>

<!ELEMENT Comment (%GDLScript;)>
<!ATTLIST Comment
	%LPSectionBaseAttrs;
>

<!ELEMENT Drawing (Font | PixMap | Hatch | Line | Hotspot | Arc | Spline | Text | RichText)*>
<!ATTLIST Drawing
	%LPSectionBaseAttrs;
	Ordering %OrderingAttr; #REQUIRED
>

<!ELEMENT Binary3D (%BinaryData;)>
<!ATTLIST Binary3D
	%LPSectionBaseAttrs;
	%LPBinSectionAttrs;
>

<!ELEMENT InfoPict (%BinaryData;)>
<!ATTLIST InfoPict
	%LPSectionBaseAttrs;
	%LPBinSectionAttrsOptional;
	Path %PathAttr; #IMPLIED
>

<!ELEMENT Picture (%BinaryData;)>
<!ATTLIST Picture
	%LPSectionBaseAttrs;
	%LPBinSectionAttrsOptional;
	MIME %MimeTypeAttr; #REQUIRED
	Path %PathAttr; #IMPLIED
>

<!ELEMENT GDLPict (%BinaryData;)>
<!ATTLIST GDLPict
	%LPSectionBaseAttrs;
	%LPBinSectionAttrsOptional;
	MIME %MimeTypeAttr; #IMPLIED
	Path %PathAttr; #IMPLIED
>

<!ELEMENT SubKind (%BinaryData;)>
<!ATTLIST SubKind
	%LPSectionBaseAttrs;
	%LPBinSectionAttrs;
>

<!ELEMENT CalledMacros (Macro*)>
<!ATTLIST CalledMacros
	%LPSectionBaseAttrs;
>
	<!ELEMENT Macro (MName, UNID)>
		<!ELEMENT MName (%String;)>

<!ELEMENT Ancestry (UNID+)>
<!ATTLIST Ancestry
	%LPSectionBaseAttrs;
	Template %BoolAttr; #REQUIRED
>


<!-- ********** ParamSection *********************************************** -->

<!ELEMENT ParamSectHeader (Version, AutoHotspots, HoleBits?, StatBits?, WDLeftFrame, WDRightFrame, WDTopFrame, WDBotFrame, LayFlags, WDMirrorThickness, NumberOfParameters, WDWallInset, SymbolColor)>
	<!ELEMENT Version (%ULong;)>
	<!ELEMENT AutoHotspots (%Bool;)>
	<!ELEMENT HoleBits (WDBit_3DFrame?, WDBit_2DSideFr?, WDBit_2DLengFr?, WDBit_OrientCustom?, WDBit_OrientReverse?, WDBit_ThickIsParam?, WDBit_LFramIsParam?, WDBit_RFramIsParam?, WDBit_TFramIsParam?, WDBit_BFramIsParam?, WDBit_InsetIsParam?)>
	<!ELEMENT StatBits (STBit_UIDefault?, STBit_FixSize?, STBit_SizeTo2D?)>
	<!ELEMENT WDLeftFrame (%Double;)>
	<!ELEMENT WDRightFrame (%Double;)>
	<!ELEMENT WDTopFrame (%Double;)>
	<!ELEMENT WDBotFrame (%Double;)>
	<!ELEMENT LayFlags (%SLong;)>
	<!ELEMENT WDMirrorThickness (%Double;)>
	<!ELEMENT WDWallInset (%Double;)>
	<!ELEMENT SymbolColor (%SLong;)>

<!ELEMENT Parameters (Length | Boolean | Integer | Title | Separator | String | Angle | FillPattern | LineType | Material | PenColor | RealNum | LightSwitch | ColorRGB | Intensity)+>

<!ELEMENT WDFrameExpression (F+)>
	<!ELEMENT F (%String;)>

<!ELEMENT WDOrientation (Def, Mirr)>
	<!ELEMENT Def (%String;)>
	<!ELEMENT Mirr (%String;)>


<!-- ********** Parameter types ******************************************** -->

<!ENTITY % param_elements_root "Description, Fix?, Flags?">
<!ENTITY % param_elements "%param_elements_root;, (Value | ArrayValues)">

<!ELEMENT Description (%String;)>
<!ELEMENT Fix EMPTY>
<!ELEMENT Flags (ParFlg_Child?, ParFlg_BoldName?, ParFlg_Fixed?, ParFlg_SHidden?, ParFlg_Open?, ParFlg_Disabled?, ParFlg_Hidden?)>
<!ELEMENT Value (%UnivParamValue;)>
<!ATTLIST Value
	Meaning %StringAttr; #IMPLIED
>

<!ELEMENT Name (%String;)>

<!ELEMENT ArrayValues (AVal+)>
<!ATTLIST ArrayValues
	FirstDimension %SLongAttr; #REQUIRED
	SecondDimension %SLongAttr; #REQUIRED
>
	<!ELEMENT AVal (%UnivParamValue;)*>
	<!ATTLIST AVal
		Row %SLongAttr; #IMPLIED
		Column %SLongAttr; #IMPLIED
	>

<!ELEMENT Angle (%param_elements;)>
<!ATTLIST Angle
	Name %StringAttr; #REQUIRED
>

<!ELEMENT Boolean (%param_elements;)>
<!ATTLIST Boolean
	Name %StringAttr; #REQUIRED
>

<!ELEMENT FillPattern (%param_elements;)>
<!ATTLIST FillPattern
	Name %StringAttr; #REQUIRED
>

<!ELEMENT Integer (%param_elements;)>
<!ATTLIST Integer
	Name %StringAttr; #REQUIRED
>

<!ELEMENT Length (%param_elements;)>
<!ATTLIST Length
	Name %StringAttr; #REQUIRED
>

<!ELEMENT LineType (%param_elements;)>
<!ATTLIST LineType
	Name %StringAttr; #REQUIRED
>

<!ELEMENT Material (%param_elements;)>
<!ATTLIST Material
	Name %StringAttr; #REQUIRED
>

<!ELEMENT PenColor (%param_elements;)>
<!ATTLIST PenColor
	Name %StringAttr; #REQUIRED
>

<!ELEMENT RealNum (%param_elements;)>
<!ATTLIST RealNum
	Name %StringAttr; #REQUIRED
>

<!ELEMENT String (%param_elements;)>
<!ATTLIST String
	Name %StringAttr; #REQUIRED
>

<!ELEMENT Title (%param_elements_root;)>
<!ATTLIST Title
	Name %StringAttr; #REQUIRED
>

<!ELEMENT Separator (%param_elements_root;)>
<!ATTLIST Separator
	Name %StringAttr; #REQUIRED
>

<!ELEMENT LightSwitch (%param_elements;)>
<!ATTLIST LightSwitch
	Name %StringAttr; #REQUIRED
>

<!ELEMENT ColorRGB (%param_elements;)>
<!ATTLIST ColorRGB
	Name %StringAttr; #REQUIRED
>

<!ELEMENT Intensity (%param_elements;)>
<!ATTLIST Intensity
	Name %StringAttr; #REQUIRED
>

<!-- ********** Drawing elements ******************************************* -->

	<!-- common descriptors -->
<!ELEMENT DrawIndex (%SLong;)>
<!ELEMENT Pen (%SLong;)>
<!ELEMENT Layer (%SLong;)>
<!ELEMENT Pattern (%SLong;)>
<!ELEMENT X (%Double;)>
<!ELEMENT Y (%Double;)>
<!ELEMENT Ang (%Double;)>

	<!-- for Text, RichText and Font-->
<!ELEMENT Size (%Double;)>
<!ELEMENT Spac (%Double;)>
<!ELEMENT StyleInd (%SLong;)>
<!ELEMENT LocX (%Double;)>
<!ELEMENT LocY (%Double;)>
<!ELEMENT Width (%Double;)>
<!ELEMENT Ind1 (%SLong;)>
<!ELEMENT Ind2 (%SLong;)>
<!ELEMENT ParamInd (%ULong;)>
<!ELEMENT NonBreaking (%Bool;)>

	<!-- for Arc and Line -->
<!ELEMENT BegX (%Double;)>
<!ELEMENT BegY (%Double;)>
<!ELEMENT EndX (%Double;)>
<!ELEMENT EndY (%Double;)>
<!ELEMENT IsContour (%Bool;)>

<!ELEMENT Arc (DrawIndex, Pen, Layer, Pattern, Whole, Elliptic, Reflected, origX, origY, Radius, Ang, Ratio, BegAng, EndAng, BegX, BegY, EndX, EndY, IsContour)>
	<!ELEMENT Whole (%Bool;)>
	<!ELEMENT Elliptic (%Bool;)>
	<!ELEMENT Reflected (%Bool;)>
	<!ELEMENT BegAng (%Double;)>
	<!ELEMENT EndAng (%Double;)>
	<!ELEMENT origX (%Double;)>
	<!ELEMENT origY (%Double;)>
	<!ELEMENT Radius (%Double;)>
	<!ELEMENT Ratio (%Double;)>

<!ELEMENT Hatch (DrawIndex, FillPen, Layer, FillPat, ContPen, ContLType, FillBkgPen, BackgroundRGB, ForegroundRGB, Transformation, Polygons)>
	<!ELEMENT ContLType (%SLong;)>
	<!ELEMENT ContPen (%SLong;)>
	<!ELEMENT FillBkgPen (%SLong;)>
	<!ELEMENT FillPat (%SLong;)>
	<!ELEMENT FillPen (%SLong;)>
	<!ELEMENT BackgroundRGB (ColorRGB)>
	<!ELEMENT ForegroundRGB (ColorRGB)>
	<!ELEMENT Transformation (Type, Version, Flags, OffsetX, OffsetY, Matrix00, Matrix10, Matrix01, Matrix11, InnerRadius)>
		<!ELEMENT Type (%ULong;)>
		<!ELEMENT Version (%ULong;)>
		<!ELEMENT Flags (%SLong;)>
		<!ELEMENT OffsetX (%Double;)>
		<!ELEMENT OffsetY (%Double;)>
		<!ELEMENT Matrix00 (%Double;)>
		<!ELEMENT Matrix10 (%Double;)>
		<!ELEMENT Matrix01 (%Double;)>
		<!ELEMENT Matrix11 (%Double;)>
	<!ELEMENT InnerRadius (%Double;)>
	<!ELEMENT Polygons (Contour+)>
		<!ELEMENT Contour (V+)>
			<!ELEMENT V (X, Y, ArcAngle?)>
				<!ELEMENT ArcAngle (%Double;)>

<!ELEMENT Hotspot (DrawIndex, Pen, Layer, HotspotType, HSSubtype, SuppUnId, CoordX, CoordY)>
	<!ELEMENT CoordX (%Double;)>
	<!ELEMENT CoordY (%Double;)>
	<!ELEMENT HotspotType (%SLong;)>
	<!ELEMENT HSSubtype (%SLong;)>
	<!ELEMENT SuppUnId (%ULong;)>

<!ELEMENT Line (DrawIndex, Pen, Layer, Pattern, InIndex, BegX, BegY, EndX, EndY, IsContour)>
	<!ELEMENT InIndex (%SLong;)>

<!ELEMENT PixMap (DrawIndex, Layer, Mirrored, AnchorPoint, ColorDepth, PixelSizeX, PixelSizeY, PixMapFormat, DestXMin, DestYMin, DestXMax, DestYMax, OrigXMin, OrigYMin, OrigXMax, OrigYMax, PixName, RotAngle, PixBinLen, PixBin, Transparent, MimeType)>
	<!ELEMENT AnchorPoint (%SLong;)>
	<!ELEMENT ColorDepth (%SLong;)>
	<!ELEMENT DestXMax (%Double;)>
	<!ELEMENT DestXMin (%Double;)>
	<!ELEMENT DestYMax (%Double;)>
	<!ELEMENT DestYMin (%Double;)>
	<!ELEMENT MimeType (%String;)>
	<!ELEMENT Mirrored (%Bool;)>
	<!ELEMENT OrigXMax (%Double;)>
	<!ELEMENT OrigXMin (%Double;)>
	<!ELEMENT OrigYMax (%Double;)>
	<!ELEMENT OrigYMin (%Double;)>
	<!ELEMENT PixBin (%BinaryData;)>
	<!ELEMENT PixBinLen (%SLong;)>
	<!ELEMENT PixMapFormat (%ULong;)>
	<!ELEMENT PixName (%String;)>
	<!ELEMENT PixelSizeX (%SLong;)>
	<!ELEMENT PixelSizeY (%SLong;)>
	<!ELEMENT RotAngle (%Double;)>
	<!ELEMENT Transparent (%Bool;)>

<!ELEMENT Spline (DrawIndex, Pen, Layer, Pattern, AutoSm, Closed, IsContour, SplinePoints)>
	<!ELEMENT AutoSm (%Bool;)>
	<!ELEMENT Closed (%Bool;)>
	<!ELEMENT SplinePoints (P+)>
		<!ELEMENT P (X, Y, LenPrev, LenNext, DirAng)>
			<!ELEMENT DirAng (%Double;)>
			<!ELEMENT LenNext (%Double;)>
			<!ELEMENT LenPrev (%Double;)>

<!ELEMENT Text (DrawIndex, Pen, Layer, NonBreaking, ParamInd, StyleInd, LocX, LocY, Ang, Width, Height, Size, Spac, Ind1, Ind2, TLines)>
	<!ELEMENT Height (%Double;)>
	<!ELEMENT TLines ((L_RET | L)*)>
		<!ELEMENT L (%String;)>
		<!ELEMENT L_RET (%String;)>

<!ELEMENT RichText (DrawIndex, Layer, LocX, LocY, Width, Ang, WidthFactor, CharSpaceFactor, Anchor, FixedHeight, NonBreaking, ParamInd, Ind1, Ind2, Content)>
	<!ELEMENT WidthFactor (%Double;)>
	<!ELEMENT CharSpaceFactor (%Double;)>
	<!ELEMENT Anchor (%SLong;)>
	<!ELEMENT FixedHeight (%Bool;)>
	<!ELEMENT Content (Paragraph*)>
		<!ELEMENT Paragraph (Alignment, FirstLineIndent, LeftIndent, RightIndent, LineSpacing, TextStyles, Tabulators)>
			<!ELEMENT Alignment (%SLong;)>
			<!ELEMENT FirstLineIndent (%Double;)>
			<!ELEMENT LeftIndent (%Double;)>
			<!ELEMENT RightIndent (%Double;)>
			<!ELEMENT LineSpacing (%Double;)>
			<!ELEMENT TextStyles (TStyle*)>
				<!ELEMENT TStyle (Size, StyleInd, PenInd, L*)>
					<!ELEMENT PenInd (%SLong;)>
			<!ELEMENT Tabulators (Tab*)>
				<!ELEMENT Tab (Position, Type)>
					<!ELEMENT Position (%Double;)>
					<!ELEMENT Type (%SLong;)>

<!ELEMENT Font (FamilyType, FontName, StyleInd, Face, Centre, Justification, Slant, Size, Spac)>
	<!ELEMENT Centre (%SLong;)>
	<!ELEMENT Face (%ULong;)>
	<!ELEMENT FamilyType (%SLong;)>
	<!ELEMENT FontName (%String;)>
	<!ELEMENT Justification (%SLong;)>
	<!ELEMENT Slant (%Double;)>
